<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Prescription</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to prescriptions_path, class: button_class(theme: "transparent") do %>
      All Prescriptions
      <% end %>
      <%= link_to edit_prescription_path(@prescription), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Presdate:</p>
        <p><%= @prescription.presdate %></p>
      </li>
      <li>
        <p class="font-semibold">Dentist:</p>
        <p><%= @prescription.dentist.name %></p>
      </li>
      <li>
        <p class="font-semibold">Patient:</p>
        <p><%= @prescription.patient.name %></p>
      </li>
  </ul>
</div>
