<div id="<%= dom_id appointment %>">
  <p>
    <strong>Dentist:</strong>
    <%= appointment.dentist_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= appointment.patient_id %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= appointment.treatment %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= appointment.quantity %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= appointment.note %>
  </p>

</div>
