<div id="<%= dom_id dentist %>">
  <p>
    <strong>Name:</strong>
    <%= dentist.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= dentist.phone %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= dentist.adress %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= dentist.degree %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= dentist.experience %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= dentist.room_id %>
  </p>

</div>
